/* ContactList.css */

.ContactList {
  margin: 20px; /* Adjust the margin according to your layout */
}

.ContactList h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ContactList ul {
  list-style: none;
  padding: 0;
}

.ContactList li {
  margin-bottom: 10px;
}

.ContactList button {
  background-color: #ff6464; /* Adjust the background color */
  color: #fff; /* Adjust the text color */
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}

.ContactList button:hover {
  background-color: #ff4848; /* Adjust the hover color */
}
